body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
}
#u2919 {
  position:absolute;
  left:102px;
  top:58px;
  width:1440px;
  height:750px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2920 {
  position:absolute;
  left:2px;
  top:367px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D8000F;
  line-height:22px;
}
#u2924 {
  position:absolute;
  left:713px;
  top:188px;
  width:225px;
  height:74px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#D8000F;
  line-height:22px;
}
#u2925 {
  position:absolute;
  left:0px;
  top:12px;
  width:225px;
  white-space:nowrap;
}
#u2924_ann {
  position:absolute;
  left:931px;
  top:184px;
  width:1px;
  height:1px;
}
#u2926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(216, 0, 15, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D8000F;
  line-height:24px;
}
#u2927 {
  position:absolute;
  left:637px;
  top:286px;
  width:368px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D8000F;
  line-height:24px;
}
#u2928 {
  position:absolute;
  left:28px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u2929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2929 {
  position:absolute;
  left:659px;
  top:332px;
  width:24px;
  height:24px;
  opacity:0;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2930 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2931 {
  position:absolute;
  left:959px;
  top:332px;
  width:24px;
  height:24px;
  opacity:0;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2932 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(216, 0, 15, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u2933 {
  position:absolute;
  left:637px;
  top:585px;
  width:368px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u2934 {
  position:absolute;
  left:16px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u2933_ann {
  position:absolute;
  left:998px;
  top:581px;
  width:1px;
  height:1px;
}
#u2935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u2936 {
  position:absolute;
  left:637px;
  top:356px;
  width:368px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u2937 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2938 {
  position:absolute;
  left:637px;
  top:399px;
  width:368px;
  height:24px;
  opacity:0;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2939 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2940 {
  position:absolute;
  left:650px;
  top:370px;
  width:16px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u2941 {
  position:absolute;
  left:0px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u2942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u2943 {
  position:absolute;
  left:637px;
  top:430px;
  width:368px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u2944 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u2945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2945 {
  position:absolute;
  left:637px;
  top:468px;
  width:368px;
  height:24px;
  opacity:0;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2946 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2947 {
  position:absolute;
  left:651px;
  top:443px;
  width:14px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2948 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u2952 {
  position:absolute;
  left:683px;
  top:755px;
  width:500px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u2953 {
  position:absolute;
  left:4px;
  top:8px;
  width:496px;
  white-space:nowrap;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2954 {
  position:absolute;
  left:671px;
  top:768px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2955 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u2957 {
  position:absolute;
  left:605px;
  top:755px;
  width:72px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u2958 {
  position:absolute;
  left:0px;
  top:8px;
  width:68px;
  white-space:nowrap;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2959 {
  position:absolute;
  left:831px;
  top:686px;
  width:48px;
  height:48px;
  opacity:0;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2960 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2961 {
  position:absolute;
  left:843px;
  top:784px;
  width:24px;
  height:24px;
  opacity:0;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2962 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:82px;
}
#u2963 {
  position:absolute;
  left:483px;
  top:728px;
  width:125px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2964 {
  position:absolute;
  left:2px;
  top:33px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2965 {
  position:absolute;
  left:638px;
  top:489px;
  width:343px;
  height:20px;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
